.navbar .collapse .nav-item .nav-link{
  font-weight: 900;
  color:black;
}
.navbar .collapse  .nav-link {
  font-weight: 900;
  color: black; }

  .navbar .collapse .nav-item .nav-link:hover{
    color:#a161bf;

  }
  .navbar .collapse .nav-link:hover{
    color:#a161bf;

  }
