.table2 tbody tr td a
{
  color:black;
  letter-spacing: 1px;
  font-size:16px;
}
 .table2 tbody tr td a:visited
{
  color:#a161bf;
  letter-spacing: 1px;
  font-size:16px;
}
.table2 tbody tr td a:hover
{
  color:#a161bf;
  letter-spacing: 1px;
  font-size:16px;
}


  .table2 tbody tr td  img
  {
  width:40px;
}
.table2 tbody tr td {
  color:black;
}
